/* DEFAULT */

* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    
}

header, body, footer {
    height: 120px;
    width: 100%;
    background-color: #39556D;
}


/* HEADER */

.Header {
    max-width: 1920px;
    margin: auto;
    height: 120px;
    width: 100%;
    display: flex;
}

.Header img {
    padding-left: 150px;
}

.Header ul {
    list-style: none;
    justify-content: center;
    align-content: center;
    margin-left: 450px;
    width: 750px;
}

.Header li {
    float: left;
    margin: 50px 0 0 90px;
    font-size: 18px;
    font-weight: bold;
}

.Header a {
    text-decoration: none;
    color: #fff;
}

/* BODY */

.Container {
    background-color: #c9d1d3;
    width: 100%;
    height: 100vh;
}

.Content {
    max-width: 1920px;
    margin: auto;
}

/* FOOTER */

.Footer {
    height: 120px;
    max-width: 1920px;
    background-color: #39556D;
    display: flex;
    margin: auto;
}

.Left, .Center, .Right {
    flex: 1;
    color: #FFF;
    font-size: 25px;
    text-align: center;
}