/* DEFAULT */

* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    z-index: 999;
}

header, footer {
    max-height: 120px;
    width: 100%;
}


/* HEADER */

.Header {
    max-width: 1920px;
    margin: auto;
    width: 100%;
    display: flex;
    background-color: transparent;

}

.Header img {
    padding-left: 150px;
}

.Header ul {
    list-style: none;
    justify-content: center;
    align-content: center;
    margin-left: 450px;
    width: 750px;
}

.Header li {
    float: left;
    margin: 50px 0 0 90px;
    font-size: 18px;
    font-weight: bold;
}

.Header a {
    text-decoration: none;
    color: #13273f;
    
}

.Header a:hover {
    border-bottom: 3px solid #13273f;
    border-radius: 3px;
}


.MenuFixo{
    max-width: 1920px;
    width: 100%;
    background-color: #39556D;
    position: fixed;
    transition: 0.5s ease-in-out;
    margin: auto;
    display: flex;   
}

.MenuFixo a{
    color: #fff;
}

.MenuFixo a:hover {
    border-bottom: 3px solid #fff;
    border-radius: 3px;
}

/* BODY */

.Container {
    /*background-color: #c9d1d3;*/
    width: 100%;
    height: 100vh;
    background: url('../images/teste2.jpg') center center fixed ;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.Content {
    max-width: 1920px;
    margin: auto;
}

/* FOOTER */

.Footer {
    height: 120px;
    max-width: 1920px;
    background-color: #39556D;
    display: flex;
    margin: auto;
}

.Left, .Center, .Right {
    flex: 1;
    color: #FFF;
    font-size: 25px;
    text-align: center;
}

.Right a{
    text-decoration: none;
    color: #FFF;
}